* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "FrederickatheGreat";
  src:
    local("FrederickatheGreat"),
    url("./fonts/FrederickatheGreat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Megrim";
  src:
    local("Megrim"),
    url("./fonts/Megrim-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kristi";
  src:
    local("Kristi"),
    url("./fonts/Kristi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Anta";
  src:
    local("Anta"),
    url("./fonts/Anta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HappyMonkey";
  src:
    local("HappyMonkey"),
    url("./fonts/HappyMonkey-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Italianno";
  src:
    local("Italianno"),
    url("./fonts/Italianno-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JacquesFrancoisShadow";
  src:
    local("JacquesFrancoisShadow"),
    url("./fonts/JacquesFrancoisShadow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kalam";
  src:
    local("Kalam"),
    url("./fonts/Kalam-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kavoon";
  src:
    local("Kavoon"),
    url("./fonts/Kavoon-Regular.ttf") format("truetype");
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(140, 45, 230, 0.7),
      rgba(140, 45, 230, 0.7)
    ),
    url(/Background.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-right: 50px;
}

.login {
  background-color: #fff;
  padding: 10px 20px 10px;
  border-radius: 50px;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.imagineaplace {
  font-family: "FrederickatheGreat", serif;
  font-size: 80px;
  text-align: center;
  padding-top: 250px;
}

.description {
  /*font-family: 'League Gothic', sans-serif;*/
  font-size: 40px;
  color: #fff;
  font-family: "Italianno", serif;
  padding-top: 20px;
}

.support {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(175, 10, 160, 0.7),
      rgba(140, 45, 230, 0.7)
    ),
    url(/Support3.png);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 30px;
}

.supportnav {
  background-color: rgba(255, 255, 255, 1);
  padding-bottom: 20px;
  padding: 0px 10px 0px;
}

.support-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.supportmain {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Anta", serif;
  font-size: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 100px;
}

.support-icons {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  padding: 20px 0 5px;
}

.emailincoming {
  background-image: linear-gradient(
      rgba(170, 170, 170, 0.7),
      rgba(10, 10, 10, 0.7)
    ),
    url(/5.png);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.email {
  display: flex;
  padding-top: 250px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-family: "Kristi", serif;
}

.emailh {
  font-family: "Megrim", serif;
}

.logout {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
      rgba(140, 45, 230, 0.7),
      rgba(140, 45, 230, 0.7)
    ),
    url(/airplane.png);
  justify-content: center;
}

.chatlink {
  display: flex;
  text-decoration: none;
}

.chat-container {
  background-image: linear-gradient(
      rgba(140, 45, 230, 0.7),
      rgba(140, 45, 230, 0.7)
    ),
    url(/airplane.png);
}

.chatpage {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(190, 70, 251, 0.7), rgba(0, 0, 0, 0.7)),
    url(/3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.chatpage main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #82828276;
  min-width: 600px;
  height: 650px;
  border-radius: 50px;
}

.chat-display {
  background-color: #ffffff;
  display: flex;
  min-width: 500px;
  height: 500px;
  justify-content: flex-end;
  margin-bottom: 20px;
  border-radius: 10px;
  flex-direction: column;
  overflow-y: auto; /* Enable scrolling if the content exceeds the container's height */
  padding: 5px;
}

.send {
  display: flex;
  align-items: end;
  flex-direction: row;
  float: right;
}

.input {
  display: flex;
  flex-direction: row;
  float: left;
}

.about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      rgba(140, 45, 230, 0.7),
      rgba(140, 45, 230, 0.7)
    ),
    url(/about.png);
}

.about-us-main {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Anta", serif;
  font-size: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.chat-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.logout-chat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chat-button {
  font-family: "HappyMonkey", serif;
  border-radius: 50px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow:
    inset 0 0 1px #fff,
    1px 1px 2px #000;
  padding: 5px 30px 5px;
  color: #fff;
  background-color: #000;
  transition: background-color 0.2s;
}

.chat-button:hover {
  background-color: #ffffff;
  color: #000;
}

.logout-button {
  background-color: #000;
  color: #fff;
}

.logout-button:hover {
  color: #000;
}

.contact-us {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      rgba(230, 45, 230, 0.7),
      rgba(140, 45, 230, 0.7)
    ),
    url(/Contact-us.jpg);
  background-position: center;
  width: 100%;
  background-size: cover;
}

.contact-form {
  max-width: sm;
  border-radius: 50px;
}

.chat-home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.ai-button {
  font-family: "HappyMonkey", serif;
  border-radius: 50px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow:
    inset 0 0 1px #fff,
    1px 1px 2px #000;
  padding: 5px 30px 5px;
  color: #fff;
  background-color: #000;
  transition: background-color 0.2s;
}

.ai-button:hover {
  background-color: #ffffff;
  color: #000;
}

.chat-logout-button {
  background-color: #000;
  color: #fff;
}

.chat-logout-button:hover {
  color: #000;
}

.chat-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-settings {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  min-height: 900px;
  padding: 7px 5px 7px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.user-settings:hover {
  opacity: 1;
}

.user-itself {
  width: 30px;
  height: 30px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px 10px;
}

.user-itself:hover {
  transition: color 0.5s ease-in-out;
  color: #000;
}

.user-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  background-color: rgba(0, 0, 0, 1);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.user-options {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  z-index: 200;
  background-color: rgba(255, 255, 255, 1);
  float: left;
  margin: 0 30px 0;
  border-radius: 20px;
  font-size: 40px;
  align-items: center;
  padding: 20px 30px 20px;
}

.user-pages {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  z-index: 200;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  float: right;
  margin: 0 10px 0;
  border-radius: 20px;
  font-family: "HappyMonkey", sans-serif;
  align-items: center;
  padding: 20px 30px 20px;
}

.user-profile-page {
  z-index: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 10px;
}

.user-profile-page-picture {
  background-color: rgba(255, 255, 255, 1);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 10px 0 10px;

}

.user-profile {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px 50px 10px;
  border-radius: 50px;
  transition: background-color 1.7s;
}
.user-profile:hover {
  color: #0000;
  background-color: #fff;
}

.user-display {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px 50px 10px;
  border-radius: 50px;
  transition: background-color 1.7s;
}
.user-display:hover {
  color: #0000;
  background-color: #fff;
}

.holder {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(65, 65, 65, 0.589);
}
.circular {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.loadText {
  display: block;
  background: linear-gradient(-229deg, red 0%, gold 15%, blue 15%, white 30%, plum 47%, rebeccapurple 63%, silver 100%);
  background-clip: text;
  background-size: 200% auto;
  color: transparent;
  animation: wax 1s infinite linear;
}
@keyframes wax {
  to {background-position: 200% center;}
}