* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "FrederickatheGreat";
  src:
    local("FrederickatheGreat"),
    url("./fonts/FrederickatheGreat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Anta";
  src:
    local("Anta"),
    url("./fonts/Anta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HappyMonkey";
  src:
    local("HappyMonkey"),
    url("./fonts/HappyMonkey-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Italianno";
  src:
    local("Italianno"),
    url("./fonts/Italianno-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JacquesFrancoisShadow";
  src:
    local("JacquesFrancoisShadow"),
    url("./fonts/JacquesFrancoisShadow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kalam";
  src:
    local("Kalam"),
    url("./fonts/Kalam-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kavoon";
  src:
    local("Kavoon"),
    url("./fonts/Kavoon-Regular.ttf") format("truetype");
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(140, 45, 230, 0.7),
      rgba(140, 45, 230, 0.7)
    ),
    url(/Background.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-right: 50px;
}

.login {
  background-color: #fff;
  padding: 10px 20px 10px;
  border-radius: 50px;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.imagineaplace {
  font-family: "FrederickatheGreat", serif;
  font-size: 80px;
  text-align: center;
  padding-top: 250px;
}

.description {
  /*font-family: 'League Gothic', sans-serif;*/
  font-size: 40px;
  color: #fff;
  font-family: "Italianno", serif;
  padding-top: 20px;
}

.support {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(9, 0, 17, 0.7),
      rgba(140, 45, 230, 0.7)
    ),
    url(/Support3.png);
  background-position: center;
  background-size: cover;
  position: relative;

}

.supportnav {
  background-color:rgba(27, 27, 27, 0.7);
  padding-bottom: 100px;
}

.supportmain {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Anta", serif;
  font-size: 40px;
  overflow-y: scroll;
}
