* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "FrederickatheGreat";
  src:
    local("FrederickatheGreat"),
    url("./fonts/FrederickatheGreat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Megrim";
  src:
    local("Megrim"),
    url("./fonts/Megrim-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kristi";
  src:
    local("Kristi"),
    url("./fonts/Kristi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Anta";
  src:
    local("Anta"),
    url("./fonts/Anta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HappyMonkey";
  src:
    local("HappyMonkey"),
    url("./fonts/HappyMonkey-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Italianno";
  src:
    local("Italianno"),
    url("./fonts/Italianno-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JacquesFrancoisShadow";
  src:
    local("JacquesFrancoisShadow"),
    url("./fonts/JacquesFrancoisShadow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kalam";
  src:
    local("Kalam"),
    url("./fonts/Kalam-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kavoon";
  src:
    local("Kavoon"),
    url("./fonts/Kavoon-Regular.ttf") format("truetype");
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(140, 45, 230, 0.7),
      rgba(140, 45, 230, 0.7)
    ),
    url(/Background.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-right: 50px;
}

.login {
  background-color: #fff;
  padding: 10px 20px 10px;
  border-radius: 50px;
}

.main {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.imagineaplace {
  font-family: "FrederickatheGreat", serif;
  font-size: 80px;
  text-align: center;
  padding-top: 250px;
}

.description {
  /*font-family: 'League Gothic', sans-serif;*/
  font-size: 40px;
  color: #fff;
  font-family: "Italianno", serif;
  padding-top: 20px;
}

.support {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(175, 10, 160, 0.7),
      rgba(140, 45, 230, 0.7)
    ),
    url(/Support3.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.supportnav {
  background-color: rgba(255, 255, 255, 0.9);
  padding-bottom: 50px;
  padding: 0px 20px 0px;
}

.supportmain {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Anta", serif;
  font-size: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.support-icons {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
}

.emailincoming {
  background-image: linear-gradient(
    rgba(170, 170, 170, 0.7),
    rgba(10, 10, 10, 0.7)
  ),
  url(/5.png);
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.email {
  display: flex;
  padding-top: 250px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-family: "Kristi", serif;
}

.emailh {
  font-family: "Megrim", serif;
}

.logout {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    rgba(140, 45, 230, 0.7),
    rgba(140, 45, 230, 0.7)
  ),
  url(/airplane.png);
  justify-content: center;
}

.chatlink {
  display: flex;
  text-decoration: none;
  
}

.chat-container {
  background-image: linear-gradient(
    rgba(140, 45, 230, 0.7),
    rgba(140, 45, 230, 0.7)
  ),
  url(/airplane.png);
}

.chatpage {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(140, 140, 140, 0.7),
      rgba(35, 35, 35, 0.7)
    ),
    url(/3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;

  
}

.chatpage main {
  display: flex;
  justify-content: center;
  align-items: center;

}

.chat-chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
  background-color: #fff;
  width: 960px;
  height: 780px;
}

.send {
  display: flex;
  align-items: end;
  flex-direction: row;
  float: right;
}

.input {
  display: flex;
  flex-direction: row;
  float: left;
}